<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Painel Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

</head>
<body>
    <div class="admin-container">
        <h1 class="title">Ageu</h1>
        <h2>Gerenciar Posts</h2>

        <!-- List of posts -->
        <div class="post-list">
            {% for post in posts %}
            <div class="post-item">
                <h3>{{ post.title }}</h3>
                <div class="post-actions">
                    <a href="{{ url_for('edit_post', post_id=post.id) }}">Editar</a>
                    <a href="{{ url_for('delete_post', post_id=post.id) }}" onclick="return confirm('Tem certeza que deseja excluir este post?');">Excluir</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if prev_url %}
            <a href="{{ prev_url }}" class="btn btn-primary">Anterior</a>
            {% endif %}
            {% if next_url %}
            <a href="{{ next_url }}" class="btn btn-primary">Próximo</a>
            {% endif %}
        </div>

        <!-- Button to create a new post -->
        <a href="{{ url_for('create_post') }}" class="create-post-button">Criar Novo Post</a>

        {% if creating_new_post or post_to_edit %}
        <form method="POST">
            <div class="form-group">
                <label for="title">Título:</label>
                <input type="text" id="title" name="title" class="form-control" value="{{ post_to_edit.title if post_to_edit else '' }}" required>
            </div>
            <div class="form-group">
                <label for="content">Conteúdo:</label>
                <div id="toolbar">
                    <span class="ql-formats">
                        <select class="ql-font"></select>
                        <select class="ql-size"></select>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button>
                        <button class="ql-strike"></button>
                    </span>
                    <span class="ql-formats">
                        <select class="ql-color"></select>
                        <select class="ql-background"></select>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-script" value="sub"></button>
                        <button class="ql-script" value="super"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-header" value="1"></button>
                        <button class="ql-header" value="2"></button>
                        <button class="ql-blockquote"></button>
                        <button class="ql-code-block"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-list" value="ordered"></button>
                        <button class="ql-list" value="bullet"></button>
                        <button class="ql-indent" value="-1"></button>
                        <button class="ql-indent" value="+1"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-direction" value="rtl"></button>
                        <select class="ql-align"></select>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-link"></button>
                        <button class="ql-image"></button>
                        <button class="ql-video"></button>
                        <button class="ql-formula"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-clean"></button>
                    </span>
                </div>
                <div id="editor"></div>
                <input type="hidden" name="content" id="content">
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
        {% endif %}

        <a href="{{ url_for('index') }}" class="back-link">Voltar</a>
    </div>

    <script>
        var quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: '#toolbar'
            },
            placeholder: 'Escreva seu post aqui...'
        });

        // Se estamos editando um post, carrega o conteúdo
        {% if post_to_edit %}
        quill.root.innerHTML = `{{ post_to_edit.content|safe }}`;
        {% endif %}

        // Captura o conteúdo do Quill antes de enviar o formulário
        document.querySelector('form').onsubmit = function() {
            document.querySelector('#content').value = quill.root.innerHTML;
        };
    </script>
</body>
</html>
