<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>{% block title %}AGEU{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://use.fontawesome.com/releases/v6.5.2/js/all.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

</head>
<body>
    <header>
        <div class="container">
            <h1 class="title">AGEU</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/about">Sobre</a>
                <span class="search-icon">🔍</span>
            </nav>
    </header>
    <hr>
    
    <!-- Bloco de conteúdo principal -->
    {% block content %}
    {% endblock %}
    
    <footer>
        <div class="container">
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt-br" target="_blank">CC BY-NC-SA 4.0</a>
            <p></p>
            <div class="social-links">
                <a class="social-icon" href="https://www.linkedin.com/in/jos%C3%A9-ageu-rodrigues-da-silva/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/Ageursilva" target="_blank"><i class="fab fa-github"></i></a> 
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>
</html>
