<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Idílio Efêmero</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://use.fontawesome.com/releases/v6.5.2/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1 class="title">Idílio Efêmero</h1>
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('about') }}">Sobre</a>
                <i class="fas fa-search search-icon"></i> <!-- Ícone da lupa -->
            </nav>
            </form>
        </div>
    </header>
    <hr>
    <main>
        <div class="posts">
            {% for post in posts %}
            <div class="card">
                {% if post.image_url %}
                    <img src="{{ post.image_url }}" alt="Imagem do Post" class="post-image">
                {% endif %}
                <h3>{{ post.post.title }}</h3>
                <p>{{ post.excerpt }}...</p>
                <a href="{{ url_for('post', post_id=post.post.id) }}">Continuar Lendo</a>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if pagination.has_prev %}
                <a href="{{ url_for('index', page=pagination.prev_num) }}">« Anterior</a>
            {% endif %}
            {% if pagination.has_next %}
                <a href="{{ url_for('index', page=pagination.next_num) }}">Próximo »</a>
            {% endif %}
        </div>
    </main>
    <footer>
        <div class="container">
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt-br" target="_blank">CC BY-NC-SA 4.0</a>
            <p></p>
            <div class="social-links">
                <a class="social-icon" href="https://www.linkedin.com/in/jos%C3%A9-ageu-rodrigues-da-silva/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/Ageursilva" target="_blank"><i class="fab fa-github"></i></a> 
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const searchIcon = document.querySelector('.search-icon');
        
            searchIcon.addEventListener('click', () => {
                // Verifica se o formulário já foi inserido
                if (!document.querySelector('.search-form')) {
                    // Cria o formulário de pesquisa
                    const searchForm = document.createElement('form');
                    searchForm.classList.add('search-form');
                    
                    const searchInput = document.createElement('input');
                    searchInput.type = 'text';
                    searchInput.placeholder = 'Pesquisar...';
                    
                    const searchButton = document.createElement('button');
                    searchButton.type = 'submit';
                    searchButton.textContent = 'Buscar';
                    
                    // Adiciona o campo de texto e o botão ao formulário
                    searchForm.appendChild(searchInput);
                    searchForm.appendChild(searchButton);
        
                    // Insere o formulário logo após o ícone de pesquisa
                    searchIcon.after(searchForm);
                }
            });
        });
        
    </script>
</body>
</html>
