<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Criar Novo Post | AGEU</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
  </head>
  <body>
    <div class="admin-form-container">
      <h2>Criar Novo Post</h2>
      <form method="post" class="admin-form">
        <div class="input-group">
          <label for="title">Título</label>
          <input type="text" id="title" name="title" required />
        </div>

        <div class="input-group">
          <label for="content">Conteúdo</label>
          <div id="editor"></div>
          <input type="hidden" id="content" name="content" />
        </div>
        <div class="form-actions">
          <a href="{{ url_for('admin.admin_panel') }}" class="btn btn-secondary">Voltar</a>
          <button type="submit" class="btn btn-primary">Publicar</button>
        </div>
      </form>
    </div>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
      var quill = new Quill('#editor', {
        theme: 'snow',
        placeholder: 'Escreva o conteúdo do seu post aqui...'
      })
      
      var form = document.querySelector('form')
      form.onsubmit = function () {
        var contentInput = document.querySelector('input[name=content]')
        contentInput.value = quill.root.innerHTML
      }
    </script>
  </body>
</html>
