<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>{{ post.title }} | Ageu</title>
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:description" content="{{ post.excerpt }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ url_for('main.post', post_id=post.id, _external=True) }}" />
    <meta property="og:image" content="{{ post.image_url }}" />
    <meta property="og:site_name" content="Ageu" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://use.fontawesome.com/releases/v6.5.2/js/all.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="static\favicon.ico" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <script>
      hljs.highlightAll()
    </script>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="title">[AG]</h1>
        <nav>
          <a href="{{ url_for('main.index') }}">Home</a>
          <a href="{{ url_for('main.about') }}">Sobre</a>
          <a href="{{ url_for('main.radar') }}">Radar Cultural</a>
          <a href="/feed"><i class="fa-solid fa-rss"></i></a>
          <a href="#" class="search-link"><i class="fas fa-search"></i></a>
        </nav>
      </div>
    </header>
    <hr class="divider" />
    <main>
      <div class="container post">
        <h2 class="post-title">{{ post.title }}</h2>
        <div class="post-date">{{ post.created_at.strftime('%d %b %Y ') }}</div>
        {% if post.image_url %}
          <img src="{{ post.image_url }}" alt="Imagem do Post" class="post-image" />
        {% endif %}
        <div class="content">{{ post.content|strip_leading_whitespace|safe }}</div>
        <a href="{{ url_for('main.index') }}" class="back-link">Voltar</a>
      </div>
      <script src="https://utteranc.es/client.js" repo="Ageursilva/ageublog" issue-term="pathname" label="comment" theme="github-dark" crossorigin="anonymous" async></script>
    </main>
    <footer>
      <div class="container">
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt-br" target="_blank">CC BY-NC-SA 4.0</a>
        <p></p>
        <div class="social-links">
          <a class="social-icon" href="https://www.linkedin.com/in/ageursilva" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a class="social-icon" href="https://github.com/Ageursilva" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <script src="{{ url_for('static', filename='script.js') }}"></script>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          const paragraphs = document.querySelectorAll('.post .content p')
          paragraphs.forEach((p) => {
            if (p.innerHTML.trim() === '<br>') {
              p.style.display = 'none'
            }
          })
        })
      </script>
    </footer>
  </body>
</html>
